<h3 class="font-weight-500">New order</h3>

<div class="row">

  <div class="card-spaces">
    <mat-card class="card">
      <mat-card-content style="min-width: 400px;">
        
          
          <app-input-select-soldiers></app-input-select-soldiers>

          <h5>Join to </h5>
          <app-input-select-group></app-input-select-group>
          <h5>in</h5>
          <app-input-select-area></app-input-select-area>

        
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions class="row">
        <div style="width: 50%;text-align: left;">
          <button mat-button color="basic">
            <!-- <mat-icon>fiber_manual_record</mat-icon> -->
            <!-- <mat-icon>close</mat-icon> -->
            <mat-icon>close</mat-icon>
            Cancel
          </button>
        </div>
        <div style="width: 50%;text-align: right;">
          <button mat-button color="basic">
            <!-- <mat-icon>fiber_manual_record</mat-icon> -->
            <!-- <mat-icon>close</mat-icon> -->
            <mat-icon>check</mat-icon>
            Send
          </button>
        </div>

      </mat-card-actions>

    </mat-card>
  </div>
</div>
