        <div class="route-mapping">
          <span>
            <a routerLink="/">
              <i class="material-icons vertical-align-middle">home</i> Home</a> /
              <a routerLink="/orc/login">Orc</a> / 
              Register
          </span>
        </div>

        <div class="box-initials-content">
            <div class="orc-login-content">
              <h3 style="font-weight: 500;">Join to war!</h3>
                <mat-form-field>
                  <input matInput class="input-text-login" required maxlength="20">
                  <mat-placeholder class="placeholder">Username</mat-placeholder>
                </mat-form-field>

                <app-input-select-group></app-input-select-group>

                <app-input-select-area></app-input-select-area>
              
                <mat-form-field>
                    <input matInput class="input-text-login" type="password" required>
                    <mat-placeholder class="placeholder">Password</mat-placeholder>
                </mat-form-field>
              
                <mat-form-field>
                    <input matInput class="input-text-login" type="password" required>
                    <mat-placeholder class="placeholder">Confirm Password</mat-placeholder>
                </mat-form-field>
                
                    <button mat-raised-button color="warn">Join</button>
                
                    <mat-list style="text-align: center;">                        
                        <mat-divider style="margin:10px 10px;"></mat-divider>
                        <small style="color:#fff;text-align: center;">What? <a routerLink="/orc/login">Already registered?</a></small>
                      </mat-list>
                              </div>
          </div>
