<div id="background-initials">
    <div class="row-initials">
      <div class="box-initials">
        <div class="route-mapping">
          <span>
            <a routerLink="/">
              <i class="material-icons">home</i> Home</a> /
              <a routerLink="/orc/login">Orc</a> / 
              Register
          </span>
        </div>
        <div class="box-initials-content">
            <div class="orc-login-content">
              <h3 style="font-weight: 500;">Join to war!</h3>
                <mat-form-field>
                  <input matInput class="input-text-login" required maxlength="20">
                  <mat-placeholder class="placeholder">Username</mat-placeholder>
                </mat-form-field>

                <app-input-select-group></app-input-select-group>

                <app-input-select-area></app-input-select-area>
              
                <mat-form-field>
                    <input matInput class="input-text-login" type="password" required>
                    <mat-placeholder class="placeholder">Password</mat-placeholder>
                </mat-form-field>
              
                
                    <button mat-raised-button color="accent">Join</button>
                
                <small>What? <a routerLink="/orc/login">Already registered?</a></small>
              </div>
</div>
</div>
</div>
</div>