
<h3 class="font-weight-500">Army</h3>  

<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Isengard
      </ng-template>
      <div class="row">

        <mat-card class="card-space army">
            <mat-card-header>
                    <mat-card-title>14</mat-card-title>
                    <mat-card-subtitle>Globins</mat-card-subtitle>
            </mat-card-header>
          </mat-card>

          <mat-card class="card-space army">
              <mat-card-header>
                      <mat-card-title>14</mat-card-title>
                      <mat-card-subtitle>Uruk-hais</mat-card-subtitle> 
              </mat-card-header>
            </mat-card>

            <mat-card class="card-space army">
                <mat-card-header>

                        <mat-card-title>14</mat-card-title>
                        <mat-card-subtitle>Snagas</mat-card-subtitle>
                </mat-card-header>
              </mat-card>

      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Orthanc
      </ng-template>
      <div class="row">

          <mat-card class="card-space army">
              <mat-card-header>
                      <mat-card-title>14</mat-card-title>
                      <mat-card-subtitle>Globins</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
  
            <mat-card class="card-space army">
                <mat-card-header>
                        <mat-card-title>14</mat-card-title>
                        <mat-card-subtitle>Uruk-hais</mat-card-subtitle> 
                </mat-card-header>
              </mat-card>
  
              <mat-card class="card-space army">
                  <mat-card-header>
  
                          <mat-card-title>14</mat-card-title>
                          <mat-card-subtitle>Snagas</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
  
        </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Rohan
      </ng-template>
  
      <div class="row">

          <mat-card class="card-space army">
              <mat-card-header>
                      <mat-card-title>14</mat-card-title>
                      <mat-card-subtitle>Globins</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
  
            <mat-card class="card-space army">
                <mat-card-header>
                        <mat-card-title>14</mat-card-title>
                        <mat-card-subtitle>Uruk-hais</mat-card-subtitle> 
                </mat-card-header>
              </mat-card>
  
              <mat-card class="card-space army">
                  <mat-card-header>
  
                          <mat-card-title>14</mat-card-title>
                          <mat-card-subtitle>Snagas</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
  
        </div>
    </mat-tab>
  </mat-tab-group>

<mat-divider style="margin:30px 0px 30px 0px;"></mat-divider>
<h3 class="font-weight-500">Orders</h3>
<div class="row">

<mat-card class="card-space army">
  <mat-card-header>
    <mat-card-title>14</mat-card-title>
    <mat-card-subtitle>Orders sent</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="card-space army">
    <mat-card-header>
      <mat-card-title>8</mat-card-title>
      <mat-card-subtitle>Declined orders</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="card-space army">
      <mat-card-header>
        <mat-card-title>8</mat-card-title>
        <mat-card-subtitle>Performed orders</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

</div>


<h3 class="font-weight-500">Messages</h3>
<div class="row">

<mat-card class="card-space army">
  <mat-card-header>
    <mat-card-title>14</mat-card-title>
    <mat-card-subtitle>Messages sent</mat-card-subtitle>
  </mat-card-header>
</mat-card>

</div>