<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar>Ustore</mat-toolbar>
      <mat-nav-list>
          <mat-card class="soldier-card" style="background-color: #fafafa;border-top:2px solid #ccc;">
              <mat-card-header>
                <div mat-card-avatar class="soldier-header-image"></div>
                <mat-card-title>Lucaswiix</mat-card-title>
                <mat-card-subtitle>Joined 13 april</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                    <mat-list class="soldier-infos">  
                        <mat-list-item>
                          <mat-icon mat-list-icon>group</mat-icon>
                          <h4 mat-line>Globins</h4>
                          <p mat-line>Group</p>
                        </mat-list-item>
                      
                        <mat-list-item>
                          <mat-icon mat-list-icon>map</mat-icon>
                          <h4 mat-line>Isenguard</h4>
                          <p mat-line>Area</p>
                        </mat-list-item>            
                        
                    </mat-list>
          
                </p>
              </mat-card-content>
            </mat-card>
            <h3 class="font-weight-500" style="text-align:center;">Menu</h3>
        <a mat-list-item routerLink="/orc-panel">Dashboard</a>
        <!-- <a mat-list-item linkRouter="Orders">Orders</a> -->
        <a mat-list-item routerLink="profile">Profile</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Control Panel</span>
        <span class="example-fill-remaining-space"></span>
        <small>Logout</small>
      </mat-toolbar>
      <!-- Add Content Here -->
      <div style="padding: 20px;">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>