      <div id="background-initials">
          <div class="row-initials">
            <div class="box-initials">
              <div class="box-initials-content">
                  <h2>Who are you?</h2>
                  <div class="buttons">
                      <a routerLink="orc/login">
                    <button class="btn-init btn-orc bnt-font-lg"><img src="/assets/img/orc.gif" alt="Orc" width="32"><br />   Orc</button>
                    </a>
                    <a routerLink="saruman/login">
                      <button class="btn-init btn-saruman bnt-font-lg"><div style="background:url('/assets/img/saruman.gif'); width: 40px;
                      height: 40px;
                      margin-bottom: -5px;
                      background-position: right bottom;
                      background-repeat: no-repeat;
                      display: inline-block;
                    "></div><br> Saruman</button>
                    </a>
                  </div> 
              </div>
            </div>
          </div>
          </div>