a:hover
{
  text-transform: none;
  text-decoration: none;
}

#background-initials
{
    position: fixed;
    width: 100%;
    height: 100%;
    background:url('/assets/img/background-img.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#0E100F;

}
.row-initials
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-initials
{    
    // color:#fff;
    display: flex;
    justify-content: center;
    text-align: left;
    // min-width: 250px;
    background-color: rgba(255,255,255,0.2);
    border-radius:4px;
    padding:30px;
        
}
.box-initials-content h3
{
    text-align: center;
font-weight: 500;
}

.bnt-font-lg
{
    font-size: 1.4em;
}
.btn-init
{
    cursor: pointer;
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    border:none;    
    width: 200px;
    height: 200px;
}
.btn-init:focus
{
    outline:medium none;
    -moz-outline-style:none;
}
.btn-init:active
{
    box-shadow: none;
    top:9px;
}

.btn-orc
{
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-orc:hover{
    background-color:#e0a800;
}
.btn-saruman
{
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-saruman:hover{
    background-color:#eee;
}
