.card-spaces
{
    padding: 10px 20px 10px 0px;
}
.card
{
    width: 400px;
}
.card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }