<h3 class="font-weight-500">Orders sent</h3>

<div class="row">

    <div class="card-spaces"> 
        <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="card-header-image"></div>
              <mat-card-title>To Lucaswiix</mat-card-title>
              <mat-card-subtitle>Action order</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
               xxd
              </p>
            </mat-card-content>
        
            <mat-card-actions class="row">
              <div style="width: 50%;text-align: left;">
                </div>
                <div style="width: 50%;text-align: right;">
                <button mat-button color="basic" >
                  <!-- <mat-icon>fiber_manual_record</mat-icon> -->
                  <!-- <mat-icon>close</mat-icon> -->
                  <mat-icon>check</mat-icon>
                      PERFORMED
                </button>
              </div>
        
            </mat-card-actions>
          </mat-card>
        </div>