.card-spaces
{
  padding:20px 20px 0px 0px;
}
.card {
    width: 350px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }