<mat-list>
  
  <h3 mat-subheader>Live informations</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line>Globins</h4>
    <p mat-line>Group</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>map</mat-icon>
    <h4 mat-line>Isenguard</h4>
    <p mat-line>Area</p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <h3 mat-subheader>Statics</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>report</mat-icon>
    <h4 mat-line>1</h4>
    <p mat-line>Orders in queue</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>done</mat-icon>
    <h4 mat-line>21</h4>
    <p mat-line>Orders executed</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>report_off</mat-icon>
    <h4 mat-line>9</h4>
    <p mat-line>Declined orders</p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <h3 mat-subheader>Profile</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <h4 mat-line>lucaswiix</h4>
    <p mat-line>Username</p>
  </mat-list-item>
</mat-list>