<h3 class="font-weight-500">Edit soldier Lucaswiix</h3>
<div class="row">
    <div style="padding:20px 20px 0px 0px;">
  <mat-card class="soldier-card">
      <mat-card-header>
        <div mat-card-avatar class="soldier-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>The orc lucaswiix joined his battle on April 23
            <mat-list class="soldier-infos row">  

                <app-input-select-group></app-input-select-group>
              
                <app-input-select-area></app-input-select-area>            
                
            </mat-list>
  
        </p>
      </mat-card-content>
      <mat-card-actions class="row" style="border-top: 0.5px solid #eee;">
        <div style="width: 50%;text-align: left;">
          <a routerLink="/saruman-panel/soldiers">
        <button mat-button color="warn">Cancel</button>
          </a>
        </div>
        <div style="width: 50%;text-align: right;">
          <a routerLink="edit/1">
        <button mat-button color="link">Update</button>
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>  
  </div>